---
layout: custom
---

{% assign themes = site.data.themes | sort %}
{% assign date_format = "%s" | date: "%s" %}
{% assign date = site.time | date: "%s" %}
{% assign now = "now" | date: "%s" %}
{% assign diff = now | minus: date %}
{% assign site_updated_days = diff | divided_by: 86400 %}

<script src="{{ "/assets/js/themes.js" | relative_url }}"></script>
<link rel="stylesheet" href="{{ "/assets/css/themes.css" | relative_url }}">

<div class="panel">
    <div>
        <input type="text" id="search_input" placeholder="Search.." />
        <select class="ml-15" id="page_length">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="250">250</option>
        </select>
    </div>
    <div>
        <span class="badge bg-red" title="Hide out of date themes" id="hide_outdated">
            <img class="emoji" alt=":rainbow:"
                src="//github.githubassets.com/images/icons/emoji/unicode/1f308.png" width="20" height="20">
        </span>
    </div>
</div>

<div class="panel center">
    <a href="https://github.com/IT-Hock/fpm-repository/issues/new?assignees=&labels=theme-suggestion&template=theme-suggestion.md"
        class="badge v-center bg-purple">
        Got an awesome theme and it's not listed here?
    </a>
    <br />
    <a href="https://github.com/IT-Hock/fpm-repository/issues/new?assignees=&labels=theme-issue&template=theme-issue.md"
        class="badge v-center bg-red">
        Found an issue?
    </a>
</div>

<div class="panel">
    <div class="mb-5 center">
        <span class="badge bg-purple" title="Total Themes indexed">:rainbow: {{themes | size}}</span>
        {% if site_updated_days < 1 %} <span class="badge bg-green" title="Last Update of theme index">:zap:
            Today</span>
            {% else %}
            <span class="badge bg-blue" title="Last Updated of theme index">:zap: {{site_updated_days}} days
                ago</span>
            {% endif %}
    </div>
    <table id="themes_table">
        <thead>
            <tr>
                <th>
                    Preview
                </th>
                <th>
                    Name
                </th>
                <th>Description</th>
                <th>
                    Updated
                </th>
            </tr>
        </thead>
        <tbody>
            {% assign i = 0 %}
            {% for package in themes %}
                {% if package[1].updated == "" %}
                    {% assign updated_days = -1 %}
                    {% assign updated_days_str = "Never" %}
                {% else %}
                    {% assign date_format = "%s" | date: "%s" %}
                    {% assign date = package[1].updated | date: "%s" %}
                    {% assign now = "now" | date: "%s" %}
                    {% assign diff = now | minus: date %}
                    {% assign updated_days = diff | divided_by: 86400 %}

                    {% assign updated_days_str = updated_days | append: " days ago" %}
                    {% if updated_days == 0 %}
                        {% assign updated_days_str = "Today" %}
                    {% elsif updated_days == 1 %}
                        {% assign updated_days_str = "Yesterday" %}
                    {% elsif updated_days > 31 and updated_days < 365 %}
                        {% assign updated_days_str=updated_days | divided_by: 31 | append: " months ago" %}
                    {% elsif updated_days> 365 %}
                        {% assign updated_days_str = updated_days | divided_by: 365 | append: " years ago" %}
                    {% endif %}
                {% endif %}
                    <tr>
                        <td class="v-center">
                            {% if package[1].image == "" %}
                                {{ package[0] }} has no preview :(
                            {% else %}
                                <img src="{{package[1].image}}" style="max-width: 64px;" alt="{{package[0]}}" class="thumbnail" data-name="{{i}}_preview">
                                <img src="{{package[1].image }}" alt="{{package[0]}}" class="hidden-large" id="{{i}}_preview">
                            {% endif %}
                        </td>
                        <td data-sort="{{package[0]}}" data-search="{{package[0]}}" width="20%">
                            <a href="{{'/themes/' | relative_url }}{{package[1].name | downcase}}" class="preview-link"
                                data-image="{{package[1].image}}" data-name="{{package[0]}}">
                                {{package[0]}}
                            </a>
                        </td>
                        <td data-search="{{package[1].description}}" data-sort="{{package[1].description}}">
                            {{package[1].description}}
                            </td>
                            <td data-sort="{{updated_days}}" data-search="{{updated_days}}">
                            {% if updated_days > -1 %}
                                {% assign update_badge = "bg-green" %}
                                {% if updated_days > 186 %}
                                {% assign update_badge = "bg-red" %}
                                {% elsif updated_days > 93 %}
                                {% assign update_badge = "bg-blue" %}
                                {% endif %}
                                <span class="badge {{update_badge}}" title="Last Commit: {{package[1].updated | date: " %d %b %Y"}}">
                                    :zap: {{updated_days_str}}
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% assign i = i | plus: 1 %}
                {% endfor %}
        </tbody>
    </table>
</div>