---
layout: custom
---

{% assign plugin_name = page._name | remove: 'plugin-' | remove: 'theme-' %}

{% if page.repository contains "github.com" %}
    {% assign repositoryType = "github" %}

    {% assign repo = page.repository | remove: "https://github.com/" | split: "/" %}
    {% assign owner_page = repo[0] %}

{% elsif page.repository contains "gitlab.com" %}
    {% assign repositoryType = "gitlab" %}
{% else %}
    {% assign repositoryType = "other" %}
{% endif %}

{% assign maintainer = page.author | remove: "<" | remove: ">" | split: " " %}

{% if page.updated == "" %}
    {% assign updated_days = -1 %}
    {% assign updated_days_str = "Never" %}
{% else %}
    {% assign date_format = "%s" | date: "%s" %}
    {% assign date = page.updated | date: "%s" %}
    {% assign now = "now" | date: "%s" %}
    {% assign diff = now | minus: date %}
    {% assign updated_days = diff | divided_by: 86400 %}

    {% assign updated_days_str = updated_days | append: " days ago" %}
    {% if updated_days == 0 %}
        {% assign updated_days_str = "Today" %}
    {% elsif updated_days == 1 %}
        {% assign updated_days_str = "Yesterday" %}
    {% elsif updated_days > 31 and updated_days < 365 %}
        {% assign updated_days_str=updated_days | divided_by: 31 | append: " months ago" %}
    {% elsif updated_days> 365 %}
        {% assign updated_days_str = updated_days | divided_by: 365 | append: " years ago" %}
    {% endif %}
{% endif %}

<div class="row mb-5">
{% if page.is_theme %}
    <div class="col-4 center">
        <a href="{{'/themes/' | relative_url }}" class="badge bg-green">
        &#8592; Go back to <span class="rainbow-emoji">:rainbow:</span> Theme List
        </a>
    </div>
    <div class="col-4 center">
        {% assign random = site.data.themes | sort | sample: 1 %}
        <a href="{{ '/themes/' | relative_url }}{{random[1].name}}" class="badge bg-blue">
            <span class="luck-emoji">:four_leaf_clover:</span> I'm feeling lucky!
        </a>
    </div>
    <div class="col-4 center">
        <a href="{{ '/packages/' | relative_url }}" class="badge bg-purple">
        GoTo <span class="package-emoji">:package:</span> Package Repository &#8594;
        </a>
    </div>
{% else %}
    <div class="col-4 center">
        <a href="{{'/packages/' | relative_url }}" class="badge bg-green">
        &#8592; Go back to <span class="package-emoji">:package:</span> Package List
        </a>
    </div>
    <div class="col-4 center">
        {% assign random = site.data.packages | sort | sample: 1 %}
        <a href="{{ '/packages/' | relative_url }}{{random[1].name}}" class="badge bg-blue">
            <span class="luck-emoji">:four_leaf_clover:</span> I'm feeling lucky!
        </a>
    </div>
    <div class="col-4 center">
        <a href="{{ '/themes/' | relative_url }}" class="badge bg-purple">
        GoTo <span class="theme-emoji">:rainbow:</span> Theme Repository &#8594;
        </a>
    </div>
{% endif %}
</div>

{% if updated_days >= 183 %}
    <div class="center">
        <div>
            <img class="emoji v-center" src="//github.githubassets.com/images/icons/emoji/unicode/26a0.png" width="20" height="20">
            <span class="badge bg-yellow">
                This project has not been updated in the last 6 months.
            </span>
            <img class="emoji v-center" src="//github.githubassets.com/images/icons/emoji/unicode/26a0.png" width="20" height="20">
        </div>
    </div>
{% endif %}

<div class="center" style="margin-top: 10px;">
    <h1>
      <a class="purple" href="{{page.repository}}">{{plugin_name}}</a>
    </h1>

    {% if repositoryType == "github" %}
	    <h3>by <a href="https://github.com/{{owner_page}}">{{maintainer[0]}}</a></h3>
    {% else %}
        <h3>by {{maintainer[0]}}</h3>
    {% endif %}

    <div>
    {% if page.image != "" %}
        <img src="{{page.image}}" alt="{{page.title}}" style="max-height: 400px;" />
    {% else %}
        <svg>
            <g>
                <text x="50%" y="30%" text-anchor="middle" alignment-baseline="middle" font-size="30" fill="#bd93f9">
                    Package 
                </text>
                <text x="50%" y="50%" text-anchor="middle" alignment-baseline="middle" font-size="30" fill="#bd93f9">
                    {{plugin_name}}
                </text>
                <text x="50%" y="70%" text-anchor="middle" alignment-baseline="middle" font-size="30" fill="#bd93f9">
                    has no image :(
                </text>
            </g>
        </svg>
    {% endif %}
    </div>

    <div>
        <blockquote style="width: fit-content; margin: 0 auto;">
            {{page.description}}
        </blockquote>
    </div>

    {% if repositoryType == "github" %}
        <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
            <div style="flex: 0 0 50%; max-width: 50%;" class="center">
                <a href="{{page.repository}}" class="badge bg-blue">
                    :octocat: View on GitHub
                </a>
            </div>
            <div style="flex: 0 0 50%; max-width: 50%;" class="center">
                <a href="{{page.repository}}/issues" class="badge bg-blue">
                    :warning: Report an Issue
                </a>
            </div>
        </div>

        <h3>
            {% if page.stars > 0 %}
                <span class="mlr-5" title="{{page.stars}} Stars on GitHub">
                    :star: {{page.stars}}
                </span>
            {% endif %}
            {% if page.forks > 0 %}
                <span class="mlr-5" title="{{page.forks}} Forks on GitHub">
                    :fork_and_knife: {{page.forks}}
                </span>
            {% endif %}
            {% if page.issues > 0 %}
                <span class="mlr-5" title="{{page.issues}} Open Issues on GitHub">
                    :warning: {{page.issues}}
                </span>
            {% endif %}
            {% if page.watchers > 0 %}
                <span class="mlr-5" title="{{page.watchers}} Watchers on GitHub">
                    :eyes: {{page.watchers}}
                </span>
            {% endif %}
        </h3>

        {% if page.issues > 0 %}
            <div class="row center mb-1">
                <div class="col-2 offset-3">
                    <span class="badge bg-red" title="{{page.issues}} Open Issues on GitHub">
                        :warning: {{page.issues}}
                    </span>
                </div>
            </div>
        {% endif %}

        {% if page.license != "Unknown" %}
            <div class="row center">
                <div class="col-2 offset-5">
                    <span class="badge bg-blue">
                        :page_facing_up: {{page.license}}
                    </span>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if page.version != "" %}
        <h3>{{page.version}}</h3>
    {% endif %}

    {% if updated_days > -1 %}
        <div>
            <span class="badge bg-blue" title="Last updated: {{date | date: " %d %b %Y"}}">
                {% if updated_days == 0 %}
                    Today
                {% elsif updated_days == 1 %}
                    Yesterday
                {% elsif updated_days < 365 %}
                    {{updated_days}} days ago
                {% elsif updated_days < 730 %}
                    1 year ago
                {% else %}
                    {{updated_days | divided_by: 365}} years ago
                {% endif %}
            </span>
        </div>
    {% endif %}

    <div class="mt-5">
        {% if page.tags.size > 0 %}
            {% for tag in page.tags %}
                {% if page.is_theme %}
                    <a class="badge bg-purple" href="/themes?tag={{tag}}">#{{tag}}</a>
                {% else %}
                    <a class="badge bg-purple" href="/packages?tag={{tag}}">#{{tag}}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
  
  <div class="mb-50 mt-5">
    <code id="code" class="panel w-96 d-block">$ fpm install {{page.title | downcase }}</code>

    <button class="copy-clipboard" id="copy-clipboard" data-clipboard="fpm install {{page.title}}">
      <img src="//github.githubassets.com/images/icons/emoji/unicode/1f4cb.png" width="20" height="20">
    </button>
  </div>

  <div>
    {% if page.is_theme %}
        <a href="https://github.com/IT-Hock/fpm-repository/issues/new?assignees=&labels=theme-issue&template=theme-issue.md&title={{plugin_name | url_encode}}"
            class="badge v-center bg-red m-0">
            Found an issue?
        </a>

        <a href="https://github.com/IT-Hock/fpm-repository/issues/new?assignees=&labels=theme-issue&template=theme-issue.md&title={{plugin_name | append: " Image broken" | url_encode}}"
            class="badge v-center bg-red m-0 right">
            Report broken image
        </a>
    {% else %}
        <a href="https://github.com/IT-Hock/fpm-repository/issues/new?assignees=&labels=package-issue&template=package-issue.md&title={{plugin_name | url_encode}}"
            class="badge v-center bg-red m-0">
            Found an issue?
        </a>

        <a href="https://github.com/IT-Hock/fpm-repository/issues/new?assignees=&labels=package-issue&template=package-issue.md&title={{plugin_name | append: " Image broken" | url_encode}}"
            class="badge v-center bg-red m-0 right">
            Report broken image
        </a>
    {% endif %}
  </div>