---
layout: default.html
---

<div class="container">
    <!-- About FPM Page -->
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">About FPM</h1>
            <div class="drac-text-white">
                <p>
                    The fish package manager or FPM in short is a package manager for the awesome shell "fish".
                </p>
                <p>
                    It was created to make it easier to install and manage fish packages just like you would do with
                    other package managers like apt, yum, pacman, etc.
                </p>
                <p>
                    Some unique features of FPM are:
                </p>
                <ol>
                    <li>
                        A repository index that is searchable and filterable.
                    </li>
                    <li>
                        A website to browse the repository index.
                    </li>
                    <li>
                        Dependency management.
                    </li>
                    <li>
                        Written in Go instead of fish.
                    </li>
                </ol>

                <p>
                    The repository index was cloned from oh my fish, but it has been modified to be searchable and filterable.
                    It does to this date ({{ site.time | date: "%Y-%m-%d" }}) contain some errors in the index, but it is being worked on.
                </p>

                <p>
                    This site uses Jekyll to generate the pages and is hosted on GitHub Pages.
                    The source code is hosted inside the repository index itself. The website should be updated automatically
                    every 24 hours. The latest generation time can be found at the bottom of the page.
                </p>
            </div>
        </div>
    </div>
</div>